.multiselect {
  width: 175px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  width: 160px;
}
#checkboxes label {
  display: block;
}
#checkboxes :first-child {
   border-bottom: 2px solid grey;   
   padding-bottom: 5px;
}
 .dropdown_select {
    position: relative;     
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 0.6em 1.4em 0.5em 0.8em;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: none;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    background-color: white;
    overflow: auto;
    height: 30px;
    background: rgba(94, 87, 87, 0.39);
  }    
  .menu {
    box-shadow: 0px 10px 18px 0px rgba(0,0,0,0.2);
    padding: 0.6em 1.4em 0.5em 0.8em;
    border-radius: 10px;
    font-size: 13px;
  }
  .buttonContainer {
    padding-top: 10px;
  }
  .applyButton {
    background-color: white;
    color: black;
    border: 1px solid #4CAF50;
    padding: 0px;
    margin: 0px;
    font-size: 13px;
    width: 50%;
    position: relative;
    border-radius: 10px;
    outline:none;
    display: flex;
    justify-content: center;
  }
  .applyButton:hover {
    color: white;
    background-color: orangered;
    outline:none;
  }
.scrollPosition {
  overflow-y: scroll;
  height: 125px;
  width: 160px;
}
input[type=checkbox]{
  margin-right:8px;
  zoom: 1.2;
  vertical-align: bottom;
}
